@model NumeneraCharGen.Models.Character

@{
    ViewBag.Title = "Character Creation";
}

<h2>Character Creation</h2>

<b>Creating a character is as easy as describing them!</b>


<div>
    @Html.LabelFor(x => Model.DescriptorData)
    @Html.DropDownListFor(x => Model.DescriptorData, new SelectList(Model.DescriptorData, "Descriptor_id", "Name"), htmlAttributes: new { @class = "form-control", id = "Description" })
    @Html.ValidationMessageFor(x => x.DescriptorData, "", new { @class = "text=danger" })
</div>

<div>
    @Html.LabelFor(x => Model.TypeData)
    @Html.DropDownListFor(x => Model.TypeData, new SelectList(Model.TypeData, "Type_id", "Name"), htmlAttributes: new { @class = "form-control", id = "Description" })
    @Html.ValidationMessageFor(x => x.TypeData, "", new { @class = "text=danger" })
</div>

<div>
    @Html.LabelFor(x => Model.FocusData)
    @Html.DropDownListFor(x => Model.FocusData, new SelectList(Model.FocusData, "Focus_id", "Name"), htmlAttributes: new { @class = "form-control", id = "Description" })
    @Html.ValidationMessageFor(x => x.FocusData, "", new { @class = "text=danger" })
</div>

<div>
    <span>I am a... </span>

    <select name="Descriptors" id=" descriptors">
        <optgroup label="Descriptor">
            <option value=""></option> <!-- One blank -->
            @foreach (var item in Model.DescriptorData)
            {
                <option value="@item.Descriptor_id">@item.Name</option>
            }
        </optgroup>
    </select>
    <select name="Types" id=" types">
        <optgroup label="Types">
            <option value=""></option> <!-- One blank -->
            @foreach (var item in Model.TypeData)
            {
                <option value="@item.Type_id">@item.Name</option>
            }
        </optgroup>
    </select>
    <span>  who  </span>
    <select name="Focus" id="focus">
        <optgroup label="Focus">
            <option value=""></option> <!-- One blank -->
            @foreach (var item in Model.FocusData)
            {
                <option value="@item.Focus_id">@item.Name</option>
            }
        </optgroup>
    </select>
</div>
<div>

</div>