@model NumeneraCharGen.Models.Character

@{
    ViewBag.Title = "New";
}

@{ 
    var descriptor = Model.DescriptorData.First();
    var type = Model.TypeData.First();
    var focus = Model.FocusData.First();

    int might = (int)descriptor.Might + (int)type.Might + (int)focus.Might;
    int speed = (int)descriptor.Speed + (int)type.Speed + (int)focus.Speed;
    int intellect = (int)descriptor.Intellect + (int)type.Intellect + (int)focus.Intellect;

    // Training
    string tr = (descriptor.Training == null) ? "" : descriptor.Training;
    if (type.Training != null) { tr += (tr =="") ? type.Training : "~" + type.Training; }

    List<string> training = new List<string>();
    training = tr.Split('~').ToList();

    // Inabilities
    string ina = (descriptor.Inability == null) ? "" : descriptor.Inability;
    if (type.Inability != null) { ina += (ina == "") ? type.Inability : "~" + type.Inability; }

    List<string> inabilities = new List<string>();
    inabilities = ina.Split('~').ToList();

    // Equipment
    string eq = (descriptor.Equipment == null) ? "" : descriptor.Equipment;
    if (type.Equipment != null) { eq += (eq == "") ? type.Equipment : "~" + type.Equipment; }
    if (focus.Equipment != null) { eq += (eq == "") ? type.Equipment : "~" + focus.Equipment; }

    List<string> equipment = new List<string>();
    equipment = eq.Split('~').ToList();

    int shins = (int)descriptor.Shins + (int)type.Shins;

}


<div>
    <h3>"I am a <b>@descriptor.Name</b> <b>@type.Name</b> who <b>@focus.Name"</b></h3>
</div>
<div class="container">
    <div class="row mt-3">
        <div class="col-sm-3">Might: @might</div>
        <div class="col-sm-3">Speed: @speed</div>
        <div class="col-sm-3">Intellect: @intellect</div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-3">Might Edge: @type.Might_edge</div>
        <div class="col-sm-3">Speed Edge: @type.Speed_edge</div>
        <div class="col-sm-3">Intellect Edge: @type.Intellect_edge</div>
    </div>
    <div class="row mt-3">
        <div class="col-md">
            <p><b>Training: </b></p>
            <ul>
                @foreach (string item in training)
                {
                    <li>@item</li>
                }
            </ul>
        </div>
        <div class="col-md">
            <p><b>Inabilities: </b></p>
            <ul>
                @foreach (string item in inabilities)
                {
                    <li>@item</li>
                }
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg">
            <p><b>Equipment: </b></p>
            <ul>
                @foreach (string item in equipment)
                {
                    <li>@item</li>
                }
                <p>Shins: @shins</p>
            </ul>
        </div>
    </div>
</div>

