@model NumeneraCharGen.Models.Descriptor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Might)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Might)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intellect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intellect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Armor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Armor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recovery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recovery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Training)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Training)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trait)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trait)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Page)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Page)
        </dd>

    </dl>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Descriptor_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
*@