@model IEnumerable<NumeneraCharGen.Models.Descriptor>

@{
    ViewBag.Title = "Index";
}

@*CRUD CODE for admin only *@
    <div>
        @Html.ActionLink("Create New Descriptor", "Create", "Descriptor")
    </div>

<h2>All Descriptors</h2>
<h4>Sorted by Name</h4>

@foreach (var descriptor in Model)
{
    <div>
        <div>
            <b>@Html.DisplayFor(modelItem => descriptor.Name)</b>
            <div>
                <div>Description:</div>
                <div>@Html.DisplayFor(modelItem => descriptor.Description)</div>
            </div>

            <p>Page: @Html.DisplayFor(modelItem => descriptor.Page)</p>
            <div>@Html.ActionLink("Details", "Details", "Descriptor", new { id = descriptor.Descriptor_id, }, null)</div>
        </div>
    </div>
    <br />
}

