@model IEnumerable<NumeneraCharGen.Models.Focus>

@{
    ViewBag.Title = "Index";
}

<h2>All Descriptors</h2>
<h4>Sorted by Name</h4>

@foreach (var item in Model)
{
    <div>
        @*<div>
                @Html.DisplayFor(modelItem => item.Beers1.BeerName)
            </div>*@

        <div>
            <b>@Html.DisplayFor(modelItem => item.Name)</b> <br />
            <p>Page: @Html.DisplayFor(modelItem => item.Page)</p>
        </div>

        @*CRUD CODE
                <div>
                @Html.ActionLink("Edit", "Edit", new { id=item.BeerID }) |
                @Html.ActionLink("Details", "Details", new { id=item.BeerID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.BeerID })
            </div>*@
    </div>
    <br />
}