@model IEnumerable<NumeneraCharGen.Models.Focus>

@{
    ViewBag.Title = "Index";
}

@*CRUD CODE for admin only *@
<div>
    @Html.ActionLink("Create New Focus", "Create", "Focus")
</div>

<h2>All Foci</h2>
<h4>Sorted by Name</h4>


@foreach (var focus in Model)
{
    <div>
        <div>
            <b>@Html.DisplayFor(modelItem => focus.Name)</b>
            <div>
                <div>Description:</div>
                <div>@Html.DisplayFor(modelItem => focus.Description)</div>
                <div>Page: @Html.DisplayFor(modelItem => focus.Page)</div>
                <div>@Html.ActionLink("Details", "Details", "Focus", new { id = focus.Focus_id, }, null)</div>
            </div>
        </div>
    </div>
    <br />
}
